<footer>
    <div class="piedPage">            
        <details>
            <summary>Conseils de sécurité afin d'éviter toutes formes d'arnaque:</summary>
            <ul>
                <li>Ne jamais remettre de l'argent ou vos documents sans avoir reçu une garantie de sécurité.</li>
                <li>Evitez de faire des transactions par ligne téléphonique ou par couriel!</li>
                <li>Soyez le plus souvent accompagné.</li>
            </ul>
        </details>

        <p>Copyright &copy 2019 --- LocalGab's Company</p>
    </div>
</footer>