<header>
    <div id="logo_address">
        <p class="plogo">
            <a href="#" aria-label="visit homepage" aria-content="page" class="web-icon">
                <img src="{{asset('assets/images/locagabs.png')}}" alt="Logo de LocaGab's">
            </a>
        </p>
        {# <div class="main-links">
            <button class="hamburger" type="button" aria-label="Toggle navigation" aria-expanded="false">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div> #}
        <p class="address"><a href="#"><button><i class="fas fa-bullhorn"></i> Fais ton annonce</button></a></p>
        <p class="address"><i class="fas fa-mobile" area-hidder="true"></i> +241 065 18 72 49</p>
        <p class="address"><i class="fas fa-envelope"></i> locagabs@gmail.com</p>
        <p>Inscris toi</p>
        <p>Modifie ça</p>
        <p>Connecte toi</p>
        <p>Déconnecte toi</p>
    </div>
    <p>Le site de reférence immobilière.</p>
</header>