<nav class="navbar">
    <ul>
        <li><a href="#" class="active">Accueil</a></li>
        <li><a href="#">Maisons</a></li>
        <li><a href="#">Appartements</a></li>
        <li><a href="#">Studios</a></li>
        <li><a href="#">Chambres</a></li>
        <li><a href="#">Terrains</a></li>
        <li><a href="#">Agences Immobilières</a></li>
    </ul>
    <div class="navdiv-img">
        <img src="{{asset('assets/images/banniereimmo.png')}}" alt="Logo de LocaGab's">
        <p class="banner-description">
            Notre préoccupation, c'est toi!
        </p>
    </div>
</nav>